// Page Title

.c-page-title {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

.c-page-title__main {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  em {
    font-family: Georgia, serif;
    color: $color-orange;
    font-weight: normal;
    text-transform: lowercase;
  }
}
