// Page Title

.c-page-title {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  z-index: 10;
  text-align: center;
}

.c-page-title__main {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @include bp-large {
    font-size: 3rem;
  }

  em {
    font-family: Georgia, serif;
    color: $color-orange;
    font-weight: normal;
    text-transform: lowercase;
  }
}

.c-page-title__main--narrow {
  width: 80%;
  margin: 0 auto;
}

.c-page-title__list {
  font-size: 1.25rem;
  display: inline-block;
  font-weight: normal;
  text-align: left;
}
