// Loading

.is-loading {
  .c-logo,
  .c-main-nav,
  .c-page-title,
  .c-hero__logo,
  .c-hero__image {
    opacity: 0;
  }

  .c-loading__loader {
    display: block;
  }
}

.is-loaded {
  .c-logo,
  .c-main-nav,
  .c-page-title,
  .c-hero__logo,
  .c-hero__image {
    opacity: 1;
    transition: opacity 1s;
  }
}

.c-loading__loader {
  animation: c-loading-pulsate 2s ease-out infinite;
  display: none;
  left: 50%;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes c-loading-pulsate {
  0% {
      opacity: 0.3;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.3;
  }
}
