// Logo

.c-logo {
  display: block;
  left: 3rem;
  position: absolute;
  top: 2rem;
  z-index: 10;
}

.c-logo__image {
  width: 50px;

  @include bp-medium {
    width: 60px;
  }

  @include bp-large {
    width: 70px;
  }

  @include bp-full {
    width: 80px;
  }
}
