// Colors

$color-black: #231f20;
$color-orange: #ef4c23;
$color-white: #fff;

// Text
$color-bg: $color-black;
$color-text: $color-white;

// Links
$color-link: $color-orange;

// Borders
$color-border: $color-white;
